@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.portfolio  {
  
    &__list {
        margin: 2rem;
        margin-bottom: 3rem;
        display: flex;
        gap: 1rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include tablet {
           grid-template-columns: repeat(2, 1fr);
           gap: 3rem; 
        }

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
    
    }

    &__item {
        // background: $bg-variant;
        background: #0077b6;
        padding: 1.9rem;
        border-radius: 2rem;  
        border: 1px solid transparent;
        transition: $transition;

        &:hover {
            border-color:  #0077b6;
            background: transparent;
        }
        
        &__title {
            margin: 1.9rem 0 3.2rem;
        }

        &__cta {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }

    &__img {
        border-radius: 2rem;
        // overflow: hidden;
    }

}