@use '../../global.scss' as *;

.portfolioListItem {
  font-size: 1.4rem;
  margin-right: 5rem;
  padding: 0.7rem;
  border-radius: 1rem;
  cursor: pointer;

  &.active {
    background-color: orange;
    color: $bg-color;
  }
}
