
$primary-color: #02315E;
$primary-variant:rgba(77,181,255,0.4);
$bg-color: #1f1f38; 
$bg-variant:#2c2c6c;
$text-color:#4db5ff;
$color-white: #F2F2F2;
$color-orange: orange;
$color-black: black;

$background : #0077b6;
$dark-color: #002240;

$transition: all 400ms ease;


//  ----- Screen sizes ------
$desktop-lg-breakpoint: 1440px;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
