@use './global.scss' as * ;

.App {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 7rem);
        position: relative;
        top: 7rem;
        scroll-behavior: smooth;        
        background-color: $bg-color;
        background-image: url(./assets/bg-texture.png);

        scroll-snap-type: y mandatory;  
        scrollbar-width: none;  // for firefox
        // for other browsers
        &::-webkit-scrollbar{
            display: none;
        } 

        > * {
            // width: 100vw;
            height: calc(100vh - 7rem);
            scroll-snap-align: start;
        }
    }
}