
$primary-color: #02315E;
$bg-color: #1f1f38;
$text-color:#4db5ff;
$color-white: #F2F2F2;
$color-orange: orange;
$color-black: black;

$transition: all 400ms ease;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;


.container {
  width: $container-width-sm;
  margin: 0 auto;
}

//  ----- Screen sizes ------
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;


@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      .container { width: $container-width-lg;}
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        .container { width: $container-width-md;}
        @content;
    }
}

//  ------ Animation ------------
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    80% {
      transform: translateX(1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    80% {
      transform: translateX(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
